fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
fastapi-mail
pillow
python-slugify
slowapi
httpx
python-dotenv
