fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose
ecdsa
rsa
pyasn1
PyJWT
python-multipart
fastapi-mail
pillow
python-slugify
slowapi
httpx
python-dotenv
PyJWT
